@{
    ViewData["Title"] = "Каталог клубів";
    Layout = null;
}

<h1 style="color: white; background: #0B1222; padding: 20px;">
    Успішний вхід! Привіт, @User.Identity.Name!
</h1>
<a href="/Account/Logout" style="color: #D6FF3F;">Вийти (Тимчасова кнопка)</a>